<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<!-- include summernote css/js -->
	<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.15/dist/summernote.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.15/dist/summernote.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.js"></script>

	<script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

	<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.15/dist/summernote-bs4.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.15/dist/summernote-bs4.min.js"></script>

</head>
<body>
	<div class="container">
		<div class="row col-md-12">
			<div class="col-md-4">
				<a href="#">
					<img src="~/Content/img/adaptLogo.png" />
				</a>
			</div>
			<div class="col-md-4">
				<ul class="nav nav-pills">
					<li class="active">@Html.ActionLink("Home", "Index", "Home", null, new { @class = "btn btn-primary btn-lg", @target = "_blank" })</li>
					<li>@Html.ActionLink("CMS", "Index", "ContentPublicSites", null, new { @class = "btn btn-light btn-lg", @target = "_blank" })</li>
					<li>@Html.ActionLink("Courses", "Index", "Courses", null, new { @class = "btn btn-light btn-lg", @target = "_blank" })</li>
					<li>@Html.ActionLink("Trainers", "Index", "Trainers", null, new { @class = "btn btn-light btn-lg", @target = "_blank" })</li>
					<li>@Html.ActionLink("Signups", "Index", "Students", null, new { @class = "btn btn-light btn-lg", @target = "_blank" })</li>
					<li>@Html.ActionLink("Contacts", "Index", "Contacts", null, new { @class = "btn btn-light btn-lg", @target = "_blank" })</li>
				</ul>
			</div>
			<div class="col-md-4">
				@Html.Partial("_LoginPartial")
			</div>
		</div>
	</div>
	
	<div class="container body-content">
		@RenderBody()
		<hr />
		<footer>
			<p>&copy; @DateTime.Now.Year Famtastic </p>
		</footer>
	</div>

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)

</body>
</html>
